In [3]:
import pandas as pd 
import numpy as np 
import plotly.express as px
from sklearn.preprocessing import OneHotEncoder

In [4]:
data = pd.read_csv("HRDataset_v14.csv")
data.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [46]:
data_new = data[["Employee_Name", "EmpID", "GenderID", "Salary", "Position", "Zip", "MaritalDesc", "DateofHire", 
                 "DateofTermination", "TermReason", "Department", "EmploymentStatus", "ManagerName", 
                 "SpecialProjectsCount", "LastPerformanceReview_Date", "DaysLateLast30"]].set_index("EmpID")
data_new.Position.unique()

array(['Production Technician I', 'Sr. DBA', 'Production Technician II',
       'Software Engineer', 'IT Support', 'Data Analyst',
       'Database Administrator', 'Enterprise Architect', 'Sr. Accountant',
       'Production Manager', 'Accountant I', 'Area Sales Manager',
       'Software Engineering Manager', 'BI Director',
       'Director of Operations', 'Sr. Network Engineer', 'Sales Manager',
       'BI Developer', 'IT Manager - Support', 'Network Engineer',
       'IT Director', 'Director of Sales', 'Administrative Assistant',
       'President & CEO', 'Senior BI Developer',
       'Shared Services Manager', 'IT Manager - Infra',
       'Principal Data Architect', 'Data Architect', 'IT Manager - DB',
       'Data Analyst ', 'CIO'], dtype=object)

In [35]:
data_new[["ManagerName"]] = data_new[["ManagerName"]].astype(str)

In [36]:
ohe = OneHotEncoder()
ohe.fit(data_new[["ManagerName"]])
manager_enc = pd.DataFrame(ohe.transform(data_new[["ManagerName"]]).toarray())
manager_enc

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
307,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
310,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
col_names = data_new.ManagerName.unique()
manager_enc = manager_enc.set_axis(col_names, axis=1, inplace=False).set_index(data["EmpID"])
manager_enc

,Michael Albert,Simon Roup,Kissy Sullivan,Elijiah Gray,Webster Butler,Amy Dunn,Alex Sweetwater,Ketsia Liebig,Brannon Miller,Peter Monroe,...,Kelley Spirea,Brandon R. LeBlanc,Janet King,John Smith,Jennifer Zamora,Lynn Daneault,Eric Dougall,Debra Houlihan,Brian Champaigne,Board of Directors
EmpID,,,,,,,,,,,,,,,,,,,,,
10026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10301,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10271,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
bin_trans = {
    "Active": 1,
    "Terminated for Cause": 0,
    "Voluntarily Terminated": 0,
}

In [24]:
y = data_new["EmploymentStatus"].replace(bin_trans)
y

EmpID
10026    1
10084    0
10196    0
10088    1
10069    0
        ..
10135    1
10301    0
10010    1
10043    1
10271    1
Name: EmploymentStatus, Length: 311, dtype: int64

In [59]:
data_process_1 = data_new.drop(["EmploymentStatus", "Employee_Name", "ManagerName"], axis=1).join(manager_enc, how="right", lsuffix="EmpID").join(y, how="right", rsuffix="EmpID")
data_process_1

,GenderID,Salary,Position,Zip,MaritalDesc,DateofHire,DateofTermination,TermReason,Department,SpecialProjectsCount,...,Brandon R. LeBlanc,Janet King,John Smith,Jennifer Zamora,Lynn Daneault,Eric Dougall,Debra Houlihan,Brian Champaigne,Board of Directors,EmploymentStatus
EmpID,,,,,,,,,,,,,,,,,,,,,
10026,1,62506,Production Technician I,1960,Single,7/5/2011,NaN,N/A-StillEmployed,Production,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
10084,1,104437,Sr. DBA,2148,Married,3/30/2015,6/16/2016,career change,IT/IS,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
10196,0,64955,Production Technician II,1810,Married,7/5/2011,9/24/2012,hours,Production,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
10088,0,64991,Production Technician I,1886,Married,1/7/2008,NaN,N/A-StillEmployed,Production,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
10069,0,50825,Production Technician I,2169,Divorced,7/11/2011,9/6/2016,return to school,Production,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,1,65893,Production Technician II,1810,Single,7/7/2014,NaN,N/A-StillEmployed,Production,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
10301,0,48513,Production Technician I,2458,Single,9/2/2008,9/29/2015,Another position,Production,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10010,0,220450,CIO,2067,Single,4/10/2010,NaN,N/A-StillEmployed,IT/IS,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
10043,0,89292,Data Analyst,2148,Single,3/30/2015,NaN,N/A-StillEmployed,IT/IS,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
10271,0,45046,Production Technician I,1730,Widowed,9/29/2014,NaN,N/A-StillEmployed,Production,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1